<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>From one mom to another</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="stylesheet" href="/styles/index.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <div class="wrapper about-wrapper">
      <header>
        <div class="header-left">
          <a href="/index"
            ><img class="logo-img" src="/images/logo.png" alt="Logo"
          /></a>
        </div>
        <a href="#" class="toggle-btn">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="header-right">
          <nav class="header-nav">
            <ul class="header-ul">
              <li class="header-list">
                <a href="/index" class="header-link">Home</a>
              </li>
              <li class="header-list">
                <a href="/about" class="header-link">About</a>
              </li>
              <li class="header-list">
                <a href="/admin-login" class="header-link">Admin</a>
              </li>
              <li class="header-list">
                <a
                  href="/register"
                  class="btn header-link register btn-header-cta"
                  >Register</a
                >
              </li>
              <li class="header-list">
                <a href="/login" class="btn header-link login btn-header-cta"
                  >Login</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <section class="about-content">
        <h1 class="about-header">
          About the Founder <br />
          <br />
          <span class="span-h2">Christine Paner Schale</span>
        </h1>

        <div class="about-img-container">
          <img
            class="about-img"
            src="/images/pic-motherhood.jpg"
            alt="A photo of the author carrying her baby"
          />
        </div>

        <div class="about-text">
          <p class="about-highlight-p">
            "I am responsible of their childhood, I will make it the best they
            could ever wished for. They will be taught, guided and loved."
          </p>
          <p class="about-p">
            When I was in my teen, I always thought I had a good childhood. I
            laugh with friends on how we are beaten, hanged inside a sack, and
            sometimes starved as a form of discipline if we messed around.
            Sorrounded with people with similar background, it just sounds so
            normal that we even compare each other's severity of punishment and
            laugh about it.
          </p>
          <p class="about-p">
            In my adulthood I left Asia and move to Europe and start having
            healthy relationships. I look back on my childhood days, and it made
            me extremely sad. I now can see in my adult eyes how deprived,
            abused and neglected I was.
          </p>
          <p class="about-p">
            I worked as a preschool teacher for many years, and it gave me the
            possibility to allow children's playfullness without severe
            consequences and go with them in their wild curiosity of this world.
            It was a beautiful job seeing the beauty of the world again in the
            eyes of innocent children.
          </p>
          <p class="about-p">
            Now a mother myself of two beautiful children, I used the knowledge
            and experience as a preschool teacher to bring up my children. And I
            swore that I will not pass on the abuse I suffer. They will have a
            good life and a happy childhood.
          </p>
          <p class="about-p">
            With this responsibility in mind, I created this blog to write down
            all my wishes and hopes and practices to make my goal come true.
          </p>
          <p class="about-p">
            I am responsible of their childhood, I will make it the best they
            could ever wished for. They will be taught, guided and loved.
          </p>
          <p class="about-p">
            This blog, will be the voice of multiple mothers which reflects the
            love towards her own children while struggling with multiple
            responsibilities in life as a modern woman.
          </p>
        </div>
      </section>
      <footer>
        <div class="footer-div footer-left">
          <p>Follow Us</p>
          <div class="follow-div">
            <ul class="follow-icons">
              <li>
                <a href="#" class="footer-nav"
                  ><i class="fab-custom fab fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a href="#" class="footer-nav"
                  ><i class="fab-custom fab fa-instagram"></i
                ></a>
              </li>
              <li>
                <a href="#" class="footer-nav"
                  ><i class="fab-custom fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="#" class="footer-nav"
                  ><i class="fab-custom fab fa-linkedin"></i
                ></a>
              </li>
              <li>
                <a href="#" class="footer-nav"
                  ><i class="fab-custom fab fa-youtube"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-div footer-mid">
          <ul>
            <li><a href="#" class="footer-nav"> About Us</a></li>
            <li><a href="#" class="footer-nav">Diversity Pledge</a></li>
            <li><a href="#" class="footer-nav">EU Privacy</a></li>
          </ul>
        </div>
        <div class="footer-div footer-right">
          <ul>
            <li><a href="#" class="footer-nav">Privacy Policy</a></li>
            <li><a href="#" class="footer-nav">Terms of Services</a></li>
            <li><a href="#" class="footer-nav">Advertise</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
